html,
body {
	height: 0%;
}

body {
	margin: 0;
	/* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("./img/webpageHome.jpg");
    background-size: cover;
  /* background-position: top center; */
  background-repeat: no-repeat;
  position: relative;
	font-family: sans-serif;
	font-weight: 100;
}

a {
    color: inherit; /* Use the same color as the surrounding text */
    text-decoration: none; /* Remove the underline */
  }



table {
	width: 800px;
	border-collapse: separate;
	overflow: hidden;
	top: 20%;
	position: absolute;
bottom:0px;
font-size: large;

	/* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
	border-collapse: separate;
   border-spacing: 0 0.5em;
   /* border-spacing: 1em 2px; */
   
}

.center {
	margin-left: auto;
	margin-right: auto;
  }
  

th,
td {
	padding: 15px;
	/* background-color: rgba(255,255,255,0.2); */
    background-color: transparent;
	color: #fff;
	border-radius: 10px;
}

th {
	text-align: center;
}


	th{
		background-color: #55608f;
	}



tr:hover {
        background-color: rgba(255,255,255,0.3);
}

/* tbody:hover {
    background-color: #f5f5f5;
  } */
  


/* navbar css */

